fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
redis
redis[aio]
aiokafka
kafka-python
mlflow
shap
river
geoip2
aiohttp
duo-client
prometheus-client
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-prometheus
pytest
pytest-cov
locust
